.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 660px;
  padding: 10px;
}

.cube {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #805537;
  font-weight: bold;
  background: url("wood-pattern.png") center/cover no-repeat;
  border: 3px solid #895e3f;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
    /* Outer shadow */ inset 0 -4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}
button {
  background: #805537;
  color: white;
  border: #000 2px solid;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  margin: 10px;
}
button:hover {
  background: #2d1706;
}

.timer {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  color: #805537;
}
.hidden {
  display: none;
}
h1 {
  font-size: 60px;
  color: #805537;
  margin: 10px;
}
.gameover {
  font-size: 3rem;
  color: red;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px #000;
  animation: pop-in 0.7s ease-in-out;
  background-color: #805537;
  padding: 15px;
  border-radius: 5px;
  border: #000 2px solid;
}
.blur {
  filter: blur(6px);
  pointer-events: none; /* Prevents interactions */
  opacity: 0.7;
}
.game-board {
  transition: filter 0.7s ease-in-out;
}
